@import "../theme";

.form {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    input, textarea { 
        flex-grow: 2;
        margin-left: 1em;
        border: 1px solid $site-light-grey;
        border-radius: 6px;
    }

    button {
        color: white;
        background-color: $primary-color;
        border-radius: 6px;
        border: none;
        align-self: flex-start;
        height: 40px;
    }
}