@import "../theme";

.title {
    font-size: 4em;
}

.subtitle {
    color: $site-grey;
    max-width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}