@import "../theme";

.title {
    white-space: break-spaces;
}

.card {
    max-width: 400px;
    position: relative;
    margin-right: 1em;
    margin-top: 1em;
    transition: 0.2s;
    color: black;

    &:focus {
        outline: none;
    }

    &:hover{
        border-top: 1px solid $primary-color;
        box-shadow: 
            0px 2px 2px $site-light-grey, 
            -2px 2px 2px $site-light-grey, 
            2px 2px 2px $site-light-grey;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transform: scale(1.03);
        filter: brightness(1.05);
    }
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid $site-light-grey;
    box-shadow: $site-light-grey 0px 1px 2px;
    // margin-bottom: 1em;
    border-radius: 5px;
    padding: 1em;
    grid-template-areas:
        "header header header"
        "excerpt excerpt excerpt"
        "metadata metadata metadata";
    gap: 5px;
    height: 100%;

}

.header {
    grid-area: header;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header > a {
    color: $site-grey;
}

.metadata {
    grid-area: metadata;
    position: relative;
    min-height: 20px;
}

.excerpt {
    grid-area: excerpt;
    color: black;
}

.date {
    position: absolute;
    top: 0;
    left: 0;
}

.timeToRead {
    position: absolute;
    color: $site-grey;
    top: 0;
    right: 0;
}