.social-list {
  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      display: inline
    }
  }

  svg {
      color: white;
      width: 2.5em;
      height: 2.5em;
      stroke: currentColor;
      stroke-width: 0;
      fill: currentColor;
      padding-right: 10px;
  }
}