.comments {
  @extend %padding-post;
  border-bottom: 1px solid var(--border);
  float: left;
  width: 100%;
}

.post-title {
  padding: $title-padding;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

article {
  @extend .comments;
  @extend %padding-post;
  padding-top: 0;

  header {
    margin-bottom: 6%;
    text-align: center;
    position: relative;
  }

  a:hover {
    @extend .body-link;
  }

  .footnotes {
    margin-top: 1em;
    font-size: 0.9em;
  }
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;

  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
  }
}

.meta {
  color: var(--meta);
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

/* --- Feature image --- */
.feature-image {
  a {
    &:hover {
      text-decoration: none;
    }
  }


  .post-link {
    color: var(--header-text);
  }

  --gradient-1: linear-gradient(to right, var(--md-sys-color-base), var(--md-sys-color-primary), var(--md-sys-color-error), var(--md-sys-color-tertiary-fixed));
  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 3;
    border-radius: 100%;
    padding: 0;
    width: 15%;
    height: auto;
    border: solid 2px transparent;
    background: 
      linear-gradient(var(--md-sys-color-secondary), var(--md-sys-color-tertiary)) padding-box, 
      var(--gradient-1) border-box;
  }
  .meta {
    color: var(--md-sys-color-on-primary-container);
    filter: opacity(0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 100%);
  }

  .post-content {
    padding-bottom: 0;
  }

  footer {
    @extend %padding-post;
    padding-top: 0;
  }

  .feature-image-padding {
    padding: $feature-image-padding;
  }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
  @media screen and (max-width: $break) {
    padding: $padding-large*1.5 $padding-small;
  }

  @media screen and (min-width: $break) {
    background-size: 120% auto;
  }

  @media screen and (max-width: $break) {
    background-size: 200% auto;
  }

  @media screen and (max-width: $sm-break) {
    background-size: 400% auto;
  }
}

.post-content {
  h1 { color: var(--h1); }
  h2 { color: var(--h2); }
  h3 { color: var(--h3); }
  h4 { color: var(--h4); }
  h5 { color: var(--h5); }
  h6 { color: var(--h6); }

  a {
    :visited {
      filter: saturate(0.7);
    }
  }
}
