/* from http://green-pantone.colorcode.is/ */
$background-color: #ffffff;
$primary-color: #00ad43;
$primary-color-pale: #00ad434d;
$site-grey: #adadad;
$site-dark-grey: rgb(119, 124, 155);
$site-light-grey: rgba(52, 61, 68, 0.1);

$complementary-1: #0FFF6C;
$complementary-2: #00DB55;
$complementary-3: #AD005C;
$complementary-4: #DB0075;

$tetrad-1: #AD006B;
$tetrad-2: #4200AD;
$tetrad-3: #05FF66;
$tetrad-4: #AD4200;

$tetrad-1pale: #AD006B4D;
$tetrad-2pale: #4200AD4D;
$tetrad-3pale: #05FF664D;
$tetrad-4pale: #AD42004D;

$site-content-width: 80%;

$minSM: 545px;
$minMD: 768px;
$minLG: 998px;
$minXL: 1200px;
$minXXL: 1920px;

:export {
    backgroundColor: $background-color;
    primaryColor: $primary-color;
    primaryColorPale: $primary-color-pale;
    siteGrey: $site-grey;

    complementary1: $complementary-1;
    complementary2: $complementary-2;
    complementary3: $complementary-3;
    complementary4: $complementary-4;

    tetrad1: $tetrad-1;
    tetrad2: $tetrad-2;
    tetrad3: $tetrad-3;
    tetrad4: $tetrad-4;

    siteContentWidth: $site-content-width;

    minSM: $minSM;
    minMD: $minMD;
    minLG: $minLG;
    minXL: $minXL;
    minXXL: $minXXL;
}