/* from http://green-pantone.colorcode.is/ */
$background-color: #ffffff;
$primary-color: #00ad43;
$header-grey: #adadad;

$complementary-1: #0FFF6C;
$complementary-2: #00DB55;
$complementary-3: #AD005C;
$complementary-4: #DB0075;

$tetrad-1: #AD006B;
$tetrad-2: #4200AD;
$tetrad-3: #05FF66;
$tetrad-4: #AD4200;

:export {
    backgroundColor: $background-color;
    primaryColor: $primary-color;
    headerGrey: $header-grey;

    complementary1: $complementary-1;
    complementary2: $complementary-2;
    complementary3: $complementary-3;
    complementary4: $complementary-4;

    tetrad1: $tetrad-1;
    tetrad2: $tetrad-2;
    tetrad3: $tetrad-3;
    tetrad4: $tetrad-4;
}